@model Web.Pages.Shared._TipModel
@{
}

@* 
    data-bs-keyboard：是否可以通过Esc关闭模态框 
    data-bs-backdrop：是否可以通过点击外部空白区域关闭模态框
*@
<div class="modal fade" id="tipModal" tabindex="-1" aria-labelledby="tipModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tipModalLabel">提示</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script>
    function _Tip(tip){
        //内容赋值
        $("#tipModal .modal-body").text(tip);

        //展示模态框
        $("#tipModal").modal('show');
    }
</script>