.navbar-brand
{
    color: #707D68;
    font-size: 32px;
}

    .navbar-brand:hover
    {
        color: #0FD59D;
    }

.nav-link
{
    color: #707D68;
}

    .nav-link:hover
    {
        color: #0FD59D;
    }

.active
{
    color: #0FD59D !important;
}