@page
@model Web.Pages.Business.DataProcessing.IndexModel
@{
    ViewData["Title"] = "数据处理";
}
@await Html.PartialAsync("_Tip")

<style>
    .card-body
    {
        height: 150px;
    }

    textarea
    {
        border: none;
        outline: none;
        resize: none;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <textarea class="w-full h-80" id="input" placeholder="输入..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyToClipboard($('#input').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#input').val('')">清空</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#input').val($('#output').val())">结果反置</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost3('SeparateByComma','input','output')">逗号分隔</button>
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost3('SeparateByNewline','input','output')">换行分隔</button>
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost3('Distinct','input','output')">去重</button>
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost3('SortAscending','input','output')">正序</button>
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost3('NumberSortAscending','input','output')">正序（数字）</button>
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost3('Reverse','input','output')">反转</button>
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost3('Sha512','input','output')">加密（Sha512）</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <textarea readonly class="w-full h-80" id="output" placeholder="输出..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyToClipboard($('#output').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#output').val('')">清空</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <textarea id="first_input" class="w-full h-80" placeholder="输入A..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyToClipboard($('#first_input').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#first_input').val('')">清空</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#first_input').val($('#output_2').val())">结果反置</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <textarea id="second_input" class="w-full h-80" placeholder="输入B..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyToClipboard($('#second_input').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#second_input').val('')">清空</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#second_input').val($('#output_2').val())">结果反置</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost4('Intersect','first_input','second_input','output_2')">交集</button>
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost4('Concat','first_input','second_input','output_2')">并集</button>
                    <button class="btn btn-primary btn-xs mb-1" onclick="CheckAndPost4('Except','first_input','second_input','output_2')">差集(A\B)</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <textarea readonly class="w-full h-80" id="output_2" placeholder="输出..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyToClipboard($('#output_2').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#output_2').val('')">清空</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function CheckAndPost3(route, inputId, outputId)
        {
            var data = $("#" + inputId).val();
            if(!IsValidData(data))
            {
                _Tip("请先输入！");
                return;
            }

            $.custom.post(route, function(rv)
            {
                $("#" + outputId).val(rv);
            }, { input: data });
        }

        function CheckAndPost4(route, firstInputId, secondInputId, outputId)
        {
            var firstInput = $("#" + firstInputId).val();
            var secondInput = $("#" + secondInputId).val();
            if(!IsValidData(firstInput) || !IsValidData(secondInput))
            {
                _Tip("请先输入！");
                return;
            }

            $.custom.post(route, function(rv)
            {
                $("#" + outputId).val(rv);
            }, { firstInput: firstInput, secondInput: secondInput });
        }

    </script>
}