@page
@model Web.Pages.Business.Tool.IndexModel
@{
    ViewData["Title"] = "Tool";
}
@await Html.PartialAsync("_Tip", new Shared._TipModel() { })

<style>
    .card-body
    {
        height: 150px;
        max-height: 200px;
        overflow-y: auto; /* 当内容超出时显示滚动条 */
    }

    textarea
    {
        border: none;
        outline: none;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <textarea class="w-full h-80" id="input_1" placeholder="输入..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyTextToClipboard($('#input_1').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#input_1').val('')">清空</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-primary" onclick="CommaSeparated('input_1','output_1')">逗号分隔</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <textarea readonly class="w-full h-80" id="output_1" placeholder="输出..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyTextToClipboard($('#output_1').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#output_1').val('')">清空</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <textarea id="input_2_1" class="w-full h-80" placeholder="输入..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyTextToClipboard($('#input_2_1').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#input_2_1').val('')">清空</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <textarea id="input_2_2" class="w-full h-80" placeholder="输入..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyTextToClipboard($('#input_2_2').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#input_2_2').val('')">清空</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-primary" onclick="CommaSeparated()">逗号分隔</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <textarea readonly class="w-full h-80" id="output_2" placeholder="输出..."></textarea>
                    <div>
                        <button class="btn btn-secondary btn-xs" onclick="CopyTextToClipboard($('#output_2').val());$(this).focus();">复制</button>
                        <button class="btn btn-secondary btn-xs" onclick="$('#output_2').val('')">清空</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function CommaSeparated(input, output)
        {
            var data = $("#" + input).val();
            if(!IsValidData(data))
            {
                _Tip("请先输入！");
                return;
            }

            $.custom.post("CommaSeparated",function(rv)
            {
                $("#" + output).val(rv);
            }, { input: data });
        }
    </script>
}